h1.page_title {
  color: red;
  text-align: center;
}

/* Content Table */
table.content_table {
  width: 100%;
  table-layout: fixed;
  background-color: #FFAA00;
  padding: 1% 5%;
}
table.content_table td {
  border-width: 1px;
  border-style: solid;
  border-color: black;
  padding: 0;
}
div.content_bubble {
  background-color: white;
  border-radius: 2em;
  border-width: 1px;
  border-style: solid;
  border-color: black;
  margin: 20px;
  text-align: center;
}
form.search {
  background-color: orange;
}
input.search {
  width: 100%;
  border-radius: 2em;
  border-color: black;
  border-width: 1px;
  border-style: solid;
  font-size: 1em;
  padding-left: 15px;
  display: table-cell;
}
span.search {
  display: block;
  padding-right: 20px;
}
