body {
  background-color: #EEEEEE;
}

h1.page_title {
  color: #FF6600;
  text-align: center;
  font-size: 3em;
  margin: .4em 0em;
}
h2.site_name {
    text-align:center;
    margin: 0em;
}

/* Content Table */
table.content_table {
  width: 100%;
  table-layout: fixed;
  padding: 1% 5%;
}
table.content_table td {
  border-width: 1px;
  border-color: black;
  border-style: solid;
  padding: 0;
}
div.content_bubble {
  background-color: white;
  border-radius: 2em;
  border-width: 1px;
  border-style: solid;
  border-color: gray;
  margin: 20px;
  text-align: center;
}

/* Search bar */
form.search {
  background-color: orange;
}
input.search {
  width: 100%;
  border-radius: 2em;
  border-color: gray;
  border-width: 1px;
  border-style: solid;
  font-size: 1em;
  padding: 1px 0px 1px 15px;;
  display: table-cell;
}
span.search {
  display: block;
  padding-right: 20px;
}

/*************
 * Spacers
*************/
div.spacer {
  background-color: none;
}
div#index_spacer_under_search {
  height: 2em;
}
div#index_spacer_under_bubbles {
  height: 1em;
}

/******************
 * Random Elements
/*****************/
/* Settings Icon */
img#settings_icon {
  height: 1.2em;
  width: 1.2em;
  float: left;
  padding: 5px 20px;
}
/* User label */
div#user_label {
  background-color: white;
  border-radius: 2em;
  border-width: 1px;
  border-style: solid;
  border-color: gray;
  text-align: center;
  width: 60%;
  font-size: 1.3em;
  float: left;
}
a.header {
  text-decoration: none;
  color: black;
}
