{% extends "base.html" %}
{% block title %} The Diogenes Club {% endblock %}
{% block content %}

{# CONTENT TABLE #}
<table class='content_table'>
	<tr>
		<td colspan='2'></td>
		<td colspan='2'></td>
		<td colspan='2'>
			<img id="settings_icon" src="/static/images/settings_icon.png">
			<div id="user_label">USER</div>
		</td>
	</tr>
	<tr>
		<td colspan='6'><h1 class='page_title'>The Diogenes Club</h1></td>
	</tr>
	<tr>
        <td colspan='2'></td>
        <td colspan='2'>
            <form method="get" action="search.php">
                <span class="search">
                    <input class="search" type="text" name="search" placeholder="Search for a topic">
                </span>
            </form>
        </td>
        <td colspan='2'></td>
    </tr>
    <tr>
        <td colspan='6'>
            <div class="spacer" id="index_spacer_under_search"/>
        </td>
    </tr>
    <tr>
        <td colspan='3'>
            <div class="content_bubble" id="hot_topics">
                <h2>Hot Topics</h2>
                <br><br><br><br><br>
            </div>
        </td>
        <td colspan='3'>
            <div class="content_bubble" id="recently_perused">
                <h2>Recently Perused</h2>
                <br><br><br><br><br>
            </div>
        </td>
    </tr>
    <tr>
        <td colspan='6'>
            <div class="spacer" id="index_spacer_under_bubbles"/>
        </td>
    </tr>
    <tr>
        <td colspan='6'>
            <div class="content_bubble" id="all_categories">
                <h2>All Categories</h2>
                <br><br><br><br><br>
            </div>
        </td>
    </tr>
</table>


{% endblock %}
